<!DOCTYPE html>
<html>
  <head>
    <title>Importmap2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "jquery-3.1.1.min" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>

    <script>
      $(function() { $('body').scrollspy({ target: '.navbar-fixed-top', offset: 80 }); });
    </script>